.mini_player {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 400px;
  z-index: 50;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.5), 0 10px 10px -5px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  background-color: #0f172a; /* slate-900 */
  border: 1px solid #334155; /* slate-700 */
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.mini_player_title {
  background-color: #0f172a;
  font-weight: bold;
  padding: 12px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
}
